<div class="print" id="print2">

    <div>

        <div class="text" id="1">

            <h1>

                penser les codes

            </h1>

            <p>

                J’ai été éduquée avec l’idée que si tu veux réparer ta machine à laver, comprendre le moteur d’une
                voiture, ou si tu dois réparer ton ordinateur, tu dois demander à un mec. J’ai grandis avec cette idée
                qu’en tant que fille je n’avais pas toutes les capacités mentales requises pour pouvoir faire ça. Je
                suis née dans les années septante mais je crois que c’est encore d’actualité et que ça va mettre du
                temps à disparaître complètement. Je sais que je l’ai assimilé, se reprogrammer est difficile ! Il faut
                aller à l’encontre des normes préconçues et se forcer à cultiver de la curiosité pour ces choses-là afin
                de prendre plaisir à les essayer soi-même. </br>

                L’autonomie dans la technique ne suffit pas, aujourd’hui le plus important est de pouvoir associer
                l’utilisation d’une nouvelle technologie à une pensée. Il est d’ailleurs notable de constater qu’il n’y
                a aucun cours d’éthique dans les écoles d’informatique. C’est quand même assez troublant. Nous allons
                demander à des gens d’exécuter des tâches sans qu’ils ne puissent comprendre les incidences de leurs
                actions et sans qu’ils puissent se positionner. Alors que c’est une économie qui est en train de guider
                le monde.

            </p>

        </div>



        <div class="text" id="2">

            <p>

                Il faut encourager les réflexions sur les nouvelles technologies en même temps que la technologie
                elle-même. Et si les femmes arrivent, c’est bien pour trouver d’autres façons d’aborder et d’utiliser
                ces nouvelles technologies. Ce n’est pas parce qu’elles ne codent pas qu’elles ne comprennent pas
                comment cela fonctionne. </br>

                Prenons par exemple la programmation d’interfaces en réalité virtuelle, elle fonctionne avec des
                curseurs, de moins 1 à plus 1. On y attribue des mots qui sont des valeurs relatives conçues au
                préalable. Le vocabulaire lié à un logiciel influence donc la création d’un jeu, d’une interface.

                En remettant en cause ces données imposées et les personnes qui nous les soumettent, il est possible
                d’inventer des nouvelles valeurs et des nouvelles formes. Il est important de comprendre que les
                fonctions toutes faites nous emmènent vers des univers déjà construits. Il existe des moteurs de jeu
                libre et open source comme

                Godot par exemple qui donne une liberté immense au niveau formel car tout le monde peut entrer dans le
                code source du logiciel ! <br>

                Dans la programmation, ce qu’on appelle «les commandes» fait penser au langage militaire. Ce sont des
                instructions, des ordres totalement dépourvus d’affect.

            </p>

        </div>



        <div class="text" id="3">

            <p>

                Il y a une forme d’illusion de neutralité, de détachement dans tous ces langages. C’est absurde cette
                façon d’essayer d’éviter l’affect dans la communication avec les machines, évidemment qu’il y a de
                l’affect, faut pas déconner. <br>

                Depuis cinq ou six ans j’ai l’impression d’être dans une relation d’égale à égale avec ma machine, de ne
                plus être dans une relation où elle me domine. Nous ne sommes pas non plus dans une relation de
                dominante-dominée car je ne suis pas en train de la dominer. Il est plus question d’influences. C’est
                une collaboration. Je la comprends, elle me comprend et on est capable de s’écouter l’une l’autre avec
                un respect mutuel. </br>

            </p>

        </div>



        <div class="text" id="4"></div>



    </div>

    <div class="reverse">

        <div class="text" id="5"></div>

        <div class="text" id="6"></div>

        <div class="back" id="back">

            <img src="./assets/images/girls-in-black.jpg" id="us" alt="">

            <p>

                Adèle Grégoire</br>

                Louise Picot</br>

                Clémence Fontaine</br>

                Lola Giffard-Bouvier</br>

            </p></br>

            <p> Imprimé le 20 avril deux-mille-dix-neuf</br>

                au festival Computer Grrrls </p>

        </div>

    </div>

    <div class="couv" id="couv">

        <p>

            Ce texte se compose de deux discussions que nous avons enregistrées, retranscrites, mélangées, connectées et
            augmentées complètement arbitrairement. </br>

            Nous avons d’abord échangé sur skype avec l’artiste et musicienne Céline Gillain pour qu’elle nous parle de
            sa relation avec son ordinateur dans sa production musicale. Ensuite, nous nous sommes rendues chez Léa
            Rogliano afin qu’elle nous explique sa pratique de la réalité virtuelle. Ces discussions ont dérivé et ont
            été contaminées par d’autres sujets qui nous emportent malgré nous.

        </p>

    </div>

</div>

</div>



<div class="print" id="print3">

    <div>

        <div class="text" id="1">

            <h1>

                outils par défaut

            </h1>

            <p>

                Je suis auteure de nouveaux médias. Je n’ai jamais fait d’école. C’est plus mon instinct qui m’a attiré
                vers la réalité virtuelle. L’idée de foutre des gens sous des casques me semblait vraiment totalitaire
                au début. </br>

                J’ai monté mon premier projet avec une interface de réalité virtuelle en deux-mille-quatorze, il
                montrait une chambre d’hôtel en Corée du Nord. J’ai passé un an et demi à rencontrer plein de gens pour
                savoir ce qu’il y avait moyen de faire. J’ai vraiment essayé de voir comment on pouvait faire
                correspondre un propos à ces outils. </br>

                Moi, je n’ai pas une approche de technicienne informatique, je n’ai jamais appris à coder. Je sais juste
                qu’en créant de la musique avec mon ordinateur j’ai réalisé que c’était une collaboration, que je
                voulais entretenir cette relation créative avec mon ordinateur plutôt qu’avec une autre personne. </br>

                Je veux pouvoir être capable de composer avec ce que j’ai à ma disposition ! Je crée de la musique avec
                un programme et non pas avec plein d’instruments encombrants et chers. Je n’avais jamais pensé pouvoir
                chanter.

            </p>

        </div>



        <div class="text" id="2">

            <p>

                J’ai pris conscience que j’avais une voix physique que je pouvais utiliser, elle était là par défaut,
                elle fait partie de mon corps. Ma voix ne coûte rien, elle prend zéro place et elle ne pollue pas. Avec
                ces outils, je n’ai plus de limite. </br>

                De même qu’avec ma voix, je me suis rendue compte de tout ce qui était à ma disposition par défaut sur
                mon ordinateur ; en étant très passive il y a déjà moyen de dire des choses, de raconter des histoires.
                Prenons Keynote par exemple, qui est un programme utilitaire super simple. Bien qu’il pourrait être
                considéré comme un matériau ou un médium pauvre d’un point de vue technologique, au niveau de la forme
                il y a moyen de dire tellement de choses ! </br>

                Le fait de cracker tous mes programmes moi-même m’a apporté une liberté inimaginable. J’ai pu bénéficier
                de tous les logiciels dont j’avais besoin, j’ai pu les découvrir et me former par moi-même avec des
                tutos sur Youtube en ne devant rien à personne. </br>

                Dans les nouvelles technologies, tout le monde essaye, tout le monde se plante, et tout le monde se
                nourrit de tout le monde. Maintenant, vu les sujets que j’ai envie d’aborder, je préfère cosigner les
                oeuvres sur lesquelles je participe. Ce que j’aime c’est partir sur un projet sans savoir ce que je vais
                pouvoir créer, sans savoir vers quoi je vais me diriger, partir de zéro, c’est une liberté totale.



            </p>

        </div>



        <div class="text" id="3">

            <p>

                Il faut que j’invente ce que j’ai envie de réaliser sans aucun savoir-faire au préalable, c’est de la
                expérimentation ! Heureusement, il y a une véritable solidarité dans cette communauté, personne ne sait
                vraiment ce qu’il va faire, on essaye. Cette pratique nous oblige à être en relation avec des gens qui
                ont des problèmes, il faut s’intéresser à ce qui pose problème et aux façons de trouver des solutions.
                Et la façon de résoudre ces problèmes doit se faire en incluant tout le monde ! Maintenant, en réalité
                virtuelle, une grande quantité de connaissance s’est déjà fondée mais il n’y a pas si longtemps, il n’y
                avait pas de mode opératoire déjà tracé.

            </p>

        </div>



        <div class="text" id="4">4</div>



    </div>

    <div class="reverse">

        <div class="text" id="5">5</div>

        <div class="text" id="6">6</div>

        <div class="back" id="back">

            <img src="./assets/images/girls-in-black.jpg" id="us" alt="">

            <p>

                Adèle Grégoire</br>

                Louise Picot</br>

                Clémence Fontaine</br>

                Lola Giffard-Bouvier</br>

            </p></br>

            <p> Imprimé le 20 avril deux-mille-dix-neuf</br>

                au festival Computer Grrrls </p>

        </div>



        <div class="couv" id="couv">

            <p>

                Ce texte se compose de deux discussions que nous avons enregistrées, retranscrites, mélangées,
                connectées et augmentées complètement arbitrairement. </br>

                Nous avons d’abord échangé sur skype avec l’artiste et musicienne Céline Gillain pour qu’elle nous parle
                de sa relation avec son ordinateur dans sa production musicale. Ensuite, nous nous sommes rendues chez
                Léa Rogliano afin qu’elle nous explique sa pratique de la réalité virtuelle. Ces discussions ont dérivé
                et ont été contaminées par d’autres sujets qui nous emportent malgré nous.

            </p>

        </div>

    </div>

</div>



<div class="print" id="print4">

    <div>

        <div class="text" id="1">

            <h1>

                le culot

            </h1>

            <p>

                Quand tu utilises les technologies, tu n’es vraiment pas encouragé par le système du monde de l’art à
                éviter les grosses industries et les gros commerciaux qui se pose en maître et déterminent ce qui est
                créable et pas créable. Qui sont-ils pour faire ça ? </br>

                Pour vous donner un exemple j’ai acheté un bouquin il y a deux semaines d’un gars qui s’appelle David
                Stubs, « The Story of Electronic Music », c’est une histoire totalement personnelle et autocentrée de la
                musique électronique. Il nie complètement la dimension genrée de la musique électronique et le problème,
                toujours actuel, de l’effacement des femmes qui ont initié ce courant, à partir du moment où c’est
                devenu prestigieux pour la gente masculine Tara Rogers recadre cette pensée dans son ouvrage «Pink
                noises», car la musique électronique s’est construite grâce aux femmes. C’est complètement fou que David
                Stubs arrive à s’accorder le crédit de « l’histoire de la musique électronique ». C’est complètement
                injuste de dire une chose pareille. </br>

                L’histoire est une construction permanente, il n’y a rien de vrai, il y a juste des gens qui refusent de
                revoir leurs points de vue.



            </p>

        </div>



        <div class="text" id="2">

            <p>

                J’espère qu’au fur et à mesure ils seront remplacés par d’autres personnes qui viendront les emmerder
                pour que ça bouge.

                Donna Harraway, par exemple, propose des demandes possibles et abordables avec la technologie. Elle nous
                donne des moyens de communication entre les humains, les cyborgs, les animaux, afin de ne pas être dans
                un discours sur l’homme/la femme par rapport à la machine, car c’est un discours biaisé. Cette
                sensibilité, qui ouvre d’autres manières d’appréhender les machines et les êtres que l’on créés, il faut
                la cultiver et la mettre en avant quand on parle des femmes dans ces milieux-là, dans leur diversité.
                Sinon on est toujours dans une norme que veut l’industrie et moi je trouve ça ennuyeux. </br>

                Cela m’arrive à la fac en ce moment. Je reprends des études en éthique et nouvelles technologies. J’ai
                un cours passionnant sur le transhumanisme, mais le professeur ne présentait aucune femme, aucune sur
                tout le semestre. Au bout d’un moment je lui ai demandé s’il ne voulait pas faire un cours avec des
                femmes, ma remarque l’a fait réfléchir et il y a consacré un cours dans lequel j’ai présenté Donna
                Haraway et une autre femme a présenté Ursula le Guin qui est une auteure de science-fiction.

            </p>

        </div>



        <div class="text" id="3">

            <p>

                Dans les cercles universitaires, il y a très peu d’études sur des femmes en nouvelles technologies, ce
                n’est pas pour cela qu’elles n’existent pas ! Je sens que ce professeur veut s’y intéresser, il me le
                dit avec beaucoup d’humour : « moi je suis un mâle alpha blanc, je veux m’y intéresser mais je n’ai pas
                la culture… » c’est généralement comme ça mais au moins il veut bien s’y intéresser.

            </p>

        </div>



        <div class="text" id="4"></div>



    </div>

    <div class="reverse">

        <div class="text" id="5"></div>

        <div class="text" id="6"></div>

        <div class="back" id="back">

            <img src="./assets/images/girls-in-black.jpg" id="us" alt="">

            <p>

                Adèle Grégoire</br>

                Louise Picot</br>

                Clémence Fontaine</br>

                Lola Giffard-Bouvier</br>

            </p></br>

            <p> Imprimé le 20 avril deux-mille-dix-neuf</br>

                au festival Computer Grrrls </p>

        </div>

        <div class="couv" id="couv">

            <p>

                Ce texte se compose de deux discussions que nous avons enregistrées, retranscrites, mélangées,
                connectées et augmentées complètement arbitrairement. </br>

                Nous avons d’abord échangé sur skype avec l’artiste et musicienne Céline Gillain pour qu’elle nous parle
                de sa relation avec son ordinateur dans sa production musicale. Ensuite, nous nous sommes rendues chez
                Léa Rogliano afin qu’elle nous explique sa pratique de la réalité virtuelle. Ces discussions ont dérivé
                et ont été contaminées par d’autres sujets qui nous emportent malgré nous.

            </p>



        </div>

    </div>

</div>



<div class="print" id="print5">

    <div>

        <div class="text" id="1">

            <h1>

                usure, obsolescence, évolution

            </h1>

            <p>

                Le son d’un instrument évolue en fonction de son usure, ses parois deviennent plus fines, cela modifie
                sa résonance. Par exemple la flûte à bec, qui est un objet en bois, gonfle avec l’humidité du souffle et
                celle de l’air ambiant, le bois change tout le temps, il se rétracte, il se dilate, et le son de la
                flûte varie avec lui. C’est un matériau vivant, il bouge, il s’accorde. L’affect qu’on peut mettre dans
                les sons produits avec des instruments comme celui-là est extrêmement précieux. </br>

                Il y a quelque chose de similaire avec les machines, en tout cas avec les softwares. Les programmes ne
                cessent d’offrir des mises à jour, des changements ou des améliorations.

                Ma version date déjà de quelques années, si je dois faire les nouvelles mises à jour, je risque de
                perdre des tas de plugins et de mises en forme de morceaux que je ne pourrais plus retravailler. Cela ne
                paraît pas incompatible avec cette notion d’usure, dans la technologie elle est liée à une idée brutale
                de non-retour. C’est peut-être autre choses que de l’usure. C’est le moins mauvais mot que je pouvais
                utiliser. </br>

            </p>

        </div>



        <div class="text" id="2">

            <p>

                À un moment donné il faut prendre une décision. Je vais devoir installer la nouvelle version, je vais
                devoir réinstaller tous mes plugins, ça va me prendre des jours et des jours, en sachant qu’il y en a
                plein qui ne seront plus compatibles ; c’est risqué, c’est un moment où je dois repartir de zéro, où je
                dois me créer de nouveaux repères. Je ne pourrai pas revenir en arrière, c’est dur, tout peut changer.
                Surtout si tu travailles avec une version crackée parce que tu ne peux pas mettre à jour ton programme
                au fur et à mesure. </br>

                Si ce genre de trucs m’avait bloqué, je n’aurais jamais rien fait. C’est du bricolage, c’est de la
                customisation, ma manière d’utiliser le programme est complètement anti-orthodoxe. J’accorde une grande
                importance à détourner absolument toutes les fonctions originelles et principales du programme. Par
                exemple, tu peux utiliser le micro pour enregistrer ta voix et y mettre de beaux effets comme sur les
                tutos, mais il y a aussi moyen de complètement pervertir cette fonction initiale. Je veux utiliser la
                sophistication du programme pour la pervertir, je veux que cette machine fasse des erreurs.



            </p>

        </div>



        <div class="text" id="3">

            <p>

                J’adore utiliser les filtres du programme, les presets de transition qui sont porteuses de sens et qui
                sont à la portée de tous. Tout cela brouille les limites entre amateur et professionnel. </br> </br>



                Tous les tutos que j’ai suivis sont des tutos qui sont fait par des hommes. Les rares filles qui font
                des tutos se font lyncher. Courtney Hawkins par exemple fait des tutos dans un rapport à la machine
                beaucoup moins casse couilles. Et c’est pour ça aussi que je me retrouve à me faire snober par des mecs.
                Ils me demandent ce que j’utilise comme machine, et je leur dit que j’utilise juste un programme, ils
                sont là euh trop facile. Ils ne savent pas ! </br>

                Il existe des démos sur youtube entre le plugin du synthétiseur jupiter</a> et le vrai et c’est
                exactement le même son. Je sais que ça se discute parce que physiquement c’est pas le même son, mais
                est-ce qu’on a le luxe de se poser ces questions-là ? No way ! Et surtout ça coûte de l’argent, ça
                pollue et ça prend de la place. Il faut arrêter de croire que c’est intéressant de reproduire à la
                chaîne des synthétiseurs en plastique en Chine, alors que tu peux les acheter à cent-dix euros sur
                internet et qu’ils prennent cinq gigas sur ton ordinateur. Je sais que je ne peux pas dire ça à
                n’importe qui sinon je me fais complètement mitrailler !

            </p>

        </div>



        <div class="text" id="4">4</div>

        <p>

            Il y a aussi le débat au sujet de la consommation énergétique des outils physiques et virtuels, mais c’est
            incomparable. Il n’y a pas photo, si on les met en rapport à la production d’objet en plastique, on est dans
            une éthique qui est très différente. </br>

            Boys with toys. Les mecs avec tous leurs synthétiseurs et leurs fils de partout ! Dans la musique c’est très
            fort, ils font joujou.

        </p>

    </div>

    <div class="reverse">

        <div class="text" id="5"></div>

        <div class="text" id="6"></div>

        <div class="back" id="back">

            <img src="./assets/images/girls-in-black.jpg" id="us" alt="">

            <p>

                Adèle Grégoire</br>

                Louise Picot</br>

                Clémence Fontaine</br>

                Lola Giffard-Bouvier</br>

            </p></br>

            <p> Imprimé le 20 avril deux-mille-dix-neuf</br>

                au festival Computer Grrrls </p>

        </div>

        <div class="couv" id="couv">

            <p>

                Ce texte se compose de deux discussions que nous avons enregistrées, retranscrites, mélangées,
                connectées et augmentées complètement arbitrairement. </br>

                Nous avons d’abord échangé sur skype avec l’artiste et musicienne Céline Gillain pour qu’elle nous parle
                de sa relation avec son ordinateur dans sa production musicale. Ensuite, nous nous sommes rendues chez
                Léa Rogliano afin qu’elle nous explique sa pratique de la réalité virtuelle. Ces discussions ont dérivé
                et ont été contaminées par d’autres sujets qui nous emportent malgré nous.

            </p>

        </div>

    </div>

</div>



<div class="print" id="print6">

    <div>

        <div class="text" id="1">

            <h1>

                les moments où elles sont évincées

            </h1>

            <p>

                Je discutais avec un ami, tard un soir, à propos du langage informatique. Le code fait de 0 et de 1
                n’est qu’une norme qui représente la variation d’un courant électrique ; cette norme nous donne
                l’impression que l’on travaille avec une force régulière et cela a déterminé toute l’histoire de
                l’informatique. On peut s’amuser à revisiter cette base. Il faudrait faire une histoire de genre des
                processeurs ! C’est une idée ! Le premier algorithme c’est quand même Ada Lovelace. Ce serait une
                recherche approfondie autour des moments où les femmes ont lâché le bateau, une façon d’étudier
                l’histoire des choix qui ont été faits dans l’hardware de la machine, dans l’histoire même de la
                construction des techniques, des processeurs, à quel moment ces choix ont écarté les femmes ? Cela vient
                de l’industrie, de la société et peut être aussi des outils qui n’étaient plus adaptés à ce que les
                femmes avaient mis en place. Ça a été comme ça dans le cinéma. Avec l’invention du cinéma parlant, qui
                était une technique coûteuse, toutes les femmes ont été évincées… Dans l’informatique, il y a des
                moments où soit on a pris l’outil pour le donner à d’autres, soit l’outil ne correspondait plus à ce
                pour quoi il avait été pensé à la base. </br>

            </p>

        </div>



        <div class="text" id="2">

            <p>

                Il faut le remettre en contexte avec les guerres où les ingénieurs étaient plutôt des hommes. La
                construction était dans les mains des femmes mais les concepts, les designs, les utilités des produits
                étaient pensés par des hommes. </br>

                Si on reste en paix et que les femmes s’emparent des nouvelles technologies dans leur conception même,
                dans leur utilisation, et dans leur pensée, peut-être qu’on va arriver à d’autres innovations qui vont
                changer les machines et leurs applications ; ce n’est qu’une hypothèse, mais pourquoi pas ? </br>

                Le langage informatique et son évolution coïncident avec les avancées de l’armée américaine, tout est en
                anglais ; l’anglais devient la langue de l’avancement technologique.

                On retrouve un rapport à la violence, à la guerre, au langage militaire, au moment où dans l’histoire la
                relation aux ordinateurs s’est masculinisée, au moment où des personnages ont décidé que ce n’était plus
                le travail des secrétaires de calculer. </br>

            </p>

        </div>



        <div class="text" id="3">

            <p>

                Quand on essaye de traduire en français, le vocabulaire paraît toujours complètement désuet. Rien que le
                mot ordinateur, quand tu dois dire le mot ordinateur tu te sens toujours un peu mal… </br>

                Ils ont d’ailleurs hésité à l’appeler ordinatrice à la base…

            </p>

        </div>



        <div class="text" id="4"></div>

        <p>



        </p>

    </div>

    <div class="reverse">

        <div class="text" id="5"></div>

        <div class="text" id="6"></div>

        <div class="back" id="back">

            <img src="./assets/images/girls-in-black.jpg" id="us" alt="">

            <p>

                Adèle Grégoire</br>

                Louise Picot</br>

                Clémence Fontaine</br>

                Lola Giffard-Bouvier</br>

            </p></br>

            <p> Imprimé le 20 avril deux-mille-dix-neuf</br>

                au festival Computer Grrrls </p>

        </div>

        <div class="couv" id="couv">

            <p>

                Ce texte se compose de deux discussions que nous avons enregistrées, retranscrites, mélangées,
                connectées et augmentées complètement arbitrairement. </br>

                Nous avons d’abord échangé sur skype avec l’artiste et musicienne Céline Gillain pour qu’elle nous parle
                de sa relation avec son ordinateur dans sa production musicale. Ensuite, nous nous sommes rendues chez
                Léa Rogliano afin qu’elle nous explique sa pratique de la réalité virtuelle. Ces discussions ont dérivé
                et ont été contaminées par d’autres sujets qui nous emportent malgré nous.

            </p>

        </div>

    </div>

</div>



<div class="print" id="print7">

    <div>

        <div class="text" id="1">

            <h1>

                d’autres façons de participer

            </h1>

            <p>

                J’ai appris seule. Petit à petit j’ai été obligée de cracker les programmes que je voulais utiliser
                parce que je n’avais pas un balle. J’ai commencé à avoir une sensation satisfaisante de prise de
                contrôle. J’avais l’impression de manière générale que je n’avais aucune emprise, sur rien du tout.
                Cette question de contrôle est intéressante, il me semble qu’en tant que femme, par défaut, on n’a aucun
                contrôle sur notre vie ; en tout cas ma génération, j’imagine que pour vous c’est un peu différent.
                </br>

                Aujourd’hui, on demande beaucoup aux femmes d’investir le code. C’est à la fois positif et c’est à la
                fois un projet d’ordre politique de la part des industries qui ont besoin des femmes dans ce milieu. En
                faisant cela, ils excluent les réflexions autour des nouvelles technologies venant des femmes. Elles se
                retrouvent doublement exclues. De plus, nous sommes en manque de pistes sur lesquelles nous lancer, en
                dehors des sentiers tout tracés par les modèles « hommes » et par les professeurs dans les écoles… </br>

                Les industries peuvent relier le fait qu’ils n’aient pas assez de femmes au sein de leurs employés au
                sexisme,



            </p>

        </div>



        <div class="text" id="2">

            <p>

                mais peut-être aussi que les femmes ne veulent tout simplement pas participer au jeu de la façon
                proposée par ces industries. Peut-être qu’elles seraient plus enclines à participer si on mettait en
                avant des façons différentes de manipuler des algorithmes, vers des choses qui leurs sont importantes à
                défendre. Pourquoi se casser la têtes pour des inventions qui servent à fliquer la population, ou bien à
                faire du sport sur un simulateur d’escalier, alors qu’aujourd’hui on est dans un désastre écologique
                majeur ? Ce sont de simples exemples, il faut qu’on se dégage des industries pour que la technologie
                serve, avec les femmes, à faire autre chose, à construire un monde vivable tout simplement. Il ne faut
                pas être technophobe, bien au contraire, il ne faut juste pas se laisser aller droit dans le mur avec
                tout le monde… </br>

                Je sais que j’énerve des mecs dans ce milieu parce que je déboule de nulle part, parce que je ne fais
                pas des bruits bizarres depuis quinze ans. Je fais tout juste avec un ordinateur et un micro, ça les
                fait chier, ils me prennent complètement de haut.

            </p>

        </div>



        <div class="text" id="3">

            <p>

                Parce que je leur dit aussi qu’il y a moyen de faire sans se prendre pour des génies avec dix milles
                machines. Qui sont les mecs qui flashent là-dessus et qui comparent leur machines ? C’est que des mecs
                blancs qui ont de la thune quoi. </br>

                C’est pas un truc de fille, c’est pas un truc de mecs en Afrique et qui font de la musique sur leur pc
                tout déglingos et qui font des sons qui tuent ! Je ne sais pas si vous savez ce que c’est le Nyege
                Nyege. Tous les mecs qui font de l’électro en Ouganda, ils font ça juste avec leur ordinateur et c’est
                un des trucs qui tue le plus aujourd’hui en musique électronique. Et c’est aussi des mecs (d’ailleurs
                c’est que des mecs mais bon voilà) qui se prennent pas la tête de venir avec trente-six synthés pour
                jouer là, ils ouvrent leur laptop et puis voilà. Tu peux tout faire avec internet et un ordi. Tout !



            </p>

        </div>



        <div class="text" id="4"></div>

        <p>





        </p>

    </div>

    <div class="reverse">

        <div class="text" id="5"></div>

        <div class="text" id="6"></div>

        <div class="back" id="back">

            <img src="./assets/images/girls-in-black.jpg" id="us" alt="">

            <p>

                Adèle Grégoire</br>

                Louise Picot</br>

                Clémence Fontaine</br>

                Lola Giffard-Bouvier</br>

            </p></br>

            <p> Imprimé le 20 avril deux-mille-dix-neuf</br>

                au festival Computer Grrrls </p>

        </div>

        <div class="couv" id="couv">

            <p>

                Ce texte se compose de deux discussions que nous avons enregistrées, retranscrites, mélangées,
                connectées et augmentées complètement arbitrairement. </br>

                Nous avons d’abord échangé sur skype avec l’artiste et musicienne Céline Gillain pour qu’elle nous parle
                de sa relation avec son ordinateur dans sa production musicale. Ensuite, nous nous sommes rendues chez
                Léa Rogliano afin qu’elle nous explique sa pratique de la réalité virtuelle. Ces discussions ont dérivé
                et ont été contaminées par d’autres sujets qui nous emportent malgré nous.

            </p>

        </div>

    </div>

</div>