@import 'to-print.css';
@import 'poster-tests.css';

@font-face {
    font-family: "Wondertype";
    src: url("Wondertype-Regular.otf"),
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 0px;
    padding: 0px;

}

/* ROTATE LETTERS */

#text {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
}



span {
    display: block;
    position: relative;
    transform-origin: center;
    touch-action: none;
    transition: all 2s;
    /* width: 14px;
    height: 14px; */
    /* transform: rotate(-90deg); */
}



/* .wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */


img {
    margin: -5px 0px;
}

canvas {
    width: 700px !important;
    height: 700px !important;
}


.gif-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
}