/* #poster-pink {
    z-index: -1;
    position: absolute;
    top: 0px;
} */

.poster-3d {
    z-index: -1;
    position: absolute;
    top: 0px;
    /* background: red; */
    /* height: 100vh;
    width: 100vw; */
    top: 0px;
    left: 240px;
    width: 800px;
    height: 726px;
}