.line1 {
    width: 20px;
}

.drawing {
    position: absolute;
    /* border: 2px solid red; */
}

.divImg {
    flex-grow: 1;
}



.section {
    padding: 50px;
    position: absolute;
    top: 986px;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: blue;
    border: 1px solid red;
}

.video {
    z-index: 3 !important;
    width: 300px;
    height: auto;
}

.section>div {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    /* background-color: aqua; */
    /* border: 1px solid red; */
}


.divImg {
    align-self: center;
}

