/* @import 'section.css'; */
@import '3d-poster.css';
@import 'reset.css';
@import 'to-print.css';

@font-face {
    font-family: "H2C";
    src: url("../fonts/H2C-Regular.ttf");
}

@font-face {
    font-family: "Px Grotesk";
    src: url("../fonts/PxGrotesk-Regular.otf");
}

@font-face {
    font-family: "quebrado";
    src: url("../fonts/Quebrado-Regular.otf");
}



body {
    margin: 0px;
    font-family: "quebrado";
    font-size: 12pt;
    /* width: 5000px;
    height: 5000px; */
    /* transition: all 3s 1s; */
}

/* iframe {
    z-index: 1;
} */

video {
    width: 829px;
}


#menu {
    background: transparent;
    transition: all 3s 1s;
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 40;
    display: flex;
    flex-direction: column;
}

#menu-title {

    /* top: 0px;
    left: 0px; */
    /* margin-top: -80px;
    margin-bottom: -123px; */
}

a {
    z-index: 1000 !important;
    /* background-color: white; */
    /* text-transform: capitalize; */
    /* text-decoration: none !important; */
    /* text-align: center; */
    font-family: Px Grotesk;
    color: black;
    /* display: block; */
    margin-bottom: 10px;

}

.line1 {
    z-index: 3 !important;
}

svg {
    z-index: 3 !important
}

.drawing {
    z-index: 3 !important
}

a::first-letter {
    text-transform: capitalize;
}

a:visited {
    /* text-decoration: none !important; */
    color: black;
    margin-bottom: 20px;

}

h1 {
    text-transform: uppercase;
    font-family: H2C;
    font-size: 40px;
    margin: 15px 0px;
}

p {
    font-size: 12pt;
    text-align: left;
    line-height: 120%;
    font-family: Px Grotesk;
    text-indent: 5%;
}

h2 {
    font-family: H2C;
    text-transform: uppercase;

}

#celine {
    color: blueviolet;
}

#lea {
    color: blue;
}

.img-draw {
    z-index: -5;
    max-width: 700px;
    position: absolute;
}