/* .print {
    display: none;
} */

@media screen {

    .line1 {
        width: 20px;
    }

    .drawing {
        position: absolute;
        /* border: 2px solid red; */
    }

    .divImg {
        flex-grow: 1;
    }



    .section {
        font-family: Px Grotesk;
        padding: 50px;
        position: absolute;
        top: 986px;
        z-index: -1;
        display: flex;
        background: transparent;
        flex-direction: row;
        width: 297mm;
    }


    .section>div {
        display: flex;
        flex-direction: column;
        /* justify-content: end; */
        /* background-color: aqua; */
        /* border: 1px solid red; */
    }


    .divImg {
        align-self: center;
    }





    .section>div>div {
        width: 148mm;
        /* height: 105mm; */
        padding: 2mm;
    }


    .back {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #us {
        padding: 8mm;
        width: 57mm;
        height: 55mm;
    }

    p {
        text-align: left;
        line-height: 120%;
        text-indent: 0% !important;
    }

    h2 {
        font-size: 27px !important;
        line-height: 94% !important;
        text-transform: uppercase;
    }

    .couv {
        display: none;
    }

    .print-btn {
        position: absolute;
        font-family: H2C;
        font-size: 25px;
        padding: 10px;
        padding-left: 58px;
        /* margin-left: 900px;
    margin-top: 200px; */
        height: 50px;
        z-index: 20;
    }
}



@media print {
    .couv>h2 {
        display: inline;
    }

    .img-draw {
        display: none;
    }

    #menu {
        display: none !important;
    }

    .section {
        display: none;
    }

    .drawing {
        display: none;
    }

    .poster-3d {
        display: none;
    }

    .print-btn {
        display: none;
    }

    .print {
        display: flex;
        background: transparent;
        flex-direction: column-reverse;
        width: 297mm !important;
        height: 210mm !important;
        /* background: wheat;
        border: 1px solid blue; */
    }

    .print>div {
        display: flex;
        justify-content: center;

    }

    .print>div>div {
        width: 148mm !important;
        height: 105mm !important;
        padding: 4mm;
        overflow: hidden;
    }



    .reverse {
        transform: rotate(180deg)
    }



    .draw-print {
        display: block;
        position: absolute;
        top: 0px !important;
        left: 0px !important;
    }

    .border {
        border-top: 0.5px solid grey;
    }

    svg {
        /* background: wheat; */
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        overflow: hidden;

    }

    .back>p {
        text-align: center;
    }

    .back {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #us {
        padding: 8mm;
        width: 57mm;
        height: 55mm;
    }

    p {
        font-size: 9pt;
        text-align: left;
        line-height: 120%;
        font-family: quebrado !important;
        text-indent: 0% !important;
    }

    h2 {
        font-size: 27px !important;
        line-height: 94% !important;
        text-transform: uppercase;
    }

    a {
        font-size: 9pt;
        text-align: left;
        line-height: 120%;
        font-family: quebrado !important;
        text-indent: 0% !important;
    }
}